@charset UTF-8;

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: normal;
    src: local('PT Serif'), local('PTSerif-Regular'), url('./misty-light-quero/pt-serif-v9-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: normal;
    src: local('PT Serif'), local('PTSerif-Italic'), url('./misty-light-quero/pt-serif-v9-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;
    src: local('PT Serif'), local('PTSerif-Bold'), url('./misty-light-quero/pt-serif-v9-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: bold;
    src: local('PT Serif'), local('PTSerif-BoldItalic'), url('./misty-light-quero/pt-serif-v9-latin-700italic.woff') format('woff');
}


:root {
--control-text-color:#777;
--side-bar-bg-color:#f6f8fa;
}

#write {
font-family:'PT Serif';
font-size:13pt;
line-height:1.8em;
color:#111;
max-width:1300px;
margin:0 auto;
padding:20px 30px 100px;
}

#write > ol:first-child,#write > ul:first-child {
margin-top:30px;
}

body > :first-child {
margin-top:0!important;
}

body > :last-child {
margin-bottom:0!important;
}

a {
color:#4183c4;
}

h1,h2,h3,h4,h5,h6 {
position:relative;
margin-top:1.8rem;
margin-bottom:1rem;
line-height:1.4;
cursor:text;
color:#142331;
}

h1:hover a.anchor,h2:hover a.anchor,h3:hover a.anchor,h4:hover a.anchor,h5:hover a.anchor,h6:hover a.anchor {
text-decoration:none;
}

h1 code,h1 tt,h2 code,h2 tt,h3 code,h3 tt,h4 code,h4 tt,h5 code,h5 tt,h6 code,h6 tt {
font-size:inherit;
}

h1 {
text-align:center;
padding-bottom:.3em;
font-size:2.25em;
line-height:1.2;
margin:1em auto 1.2em;
}

h1:after {
border-bottom:2px dashed #afec9e;
content:'';
width:100px;
display:block;
height:2px;
margin:.2em auto 0;
}

h2 {
font-size:1.75em;
padding-left:9px;
line-height:1.4;
border-left:6px solid #cce5ff;
}

h3 {
font-size:1.5em;
line-height:1.43;
}

h3:before {
border-radius:50%;
background-color:#9ed0ff;
content:'';
width:6px;
display:inline-block;
height:6px;
vertical-align:middle;
margin-bottom:.18em;
margin-right:8px;
}

#write > h3.md-focus:before,#write > h4.md-focus:before {
background-color:transparent;
width:auto;
height:auto;
}

h4 {
font-size:1.25em;
}

h4:before {
background-color:#9ed0ff;
content:'';
width:6px;
display:inline-block;
height:2px;
vertical-align:middle;
margin-bottom:.18em;
margin-right:8px;
}

h5 {
font-size:1em;
}

h6 {
font-size:1em;
color:#777;
}

blockquote,dl,ol,p,table,ul {
margin:.8em 0;
}

li > ol,li > ul {
margin:0;
}

hr {
height:.25em;
background-color:#e1e4e8;
border:0;
margin:24px 0;
padding:0;
}

a:first-child h1,a:first-child h2,a:first-child h3,a:first-child h4,a:first-child h5,a:first-child h6,body>h1:first-child,body>h1:first-child+h2,body>h2:first-child,body>h3:first-child,body>h4:first-child,body>h5:first-child,body>h6:first-child {
margin-top:0;
padding-top:0;
}

li p.first {
display:inline-block;
}

ol,ul {
padding-left:30px;
}

blockquote {
border-left:4px dotted #e5e8e8;
color:#444;
font-size:.9em;
padding:0 12px;
}

blockquote blockquote {
padding-right:0;
}

table {
word-break:initial;
padding:0;
}

table tr {
border-top:1px solid #dadfe6;
margin:0;
padding:0;
}

table.md-table tr:nth-child(2n) {
background-color:#fafbfc;
}

table tr td,table tr th {
border:1px solid #dadfe6;
text-align:left;
margin:0;
padding:6px 13px;
}

.CodeMirror-gutters {
border-right:1px solid #ddd;
}

.md-fences,code,tt {
font-size:.9em;
border-radius:3px;
font-family:"SF Mono",Consolas,"Liberation Mono",Menlo,Courier,monospace,"PingFang SC","Microsoft YaHei",微软雅黑;
}

code,tt {
background-color:#e2f0ff;
margin:0 2px;
padding:2px 4px;
}

.md-fences {
background-color:#f6f8fa;
margin-bottom:15px;
margin-top:15px;
padding:12px 1em;
}

.md-task-list-item > input {
margin-left:-1.45em;
margin-top:calc(1em-10px);
}

#write pre.md-meta-block {
font-size:.85em;
line-height:1.45;
background-color:#f7faf6;
border:0;
border-radius:3px;
color:#777;
margin-top:0!important;
padding:1rem;
}

.mathjax-block > .code-tooltip {
bottom:.375rem;
}

#write > h3.md-focus:before {
left:-1.5625rem;
top:.375rem;
}

#write>h4.md-focus:before,#write>h5.md-focus:before,#write>h6.md-focus:before {
left:-1.5625rem;
top:.285714286rem;
}

.md-image > .md-meta {
border:1px solid #ddd;
border-radius:3px;
font-family:"SF Mono",Consolas,"PingFang SC","Liberation Mono",Courier,monospace,"Microsoft YaHei",微软雅黑;
font-size:.9em;
color:inherit;
padding:2px 4px 0;
}

.md-tag {
color:inherit;
}

.md-toc {
margin-top:20px;
padding-bottom:20px;
}

.sidebar-tabs {
border-bottom:none;
}

#typora-quick-open {
border:1px solid #ddd;
background-color:#f8f8f8;
}

#typora-quick-open-item {
background-color:#fafafa;
border-color:#fefefe #e5e5e5 #e5e5e5 #eee;
border-style:solid;
border-width:1px;
padding: 5px 0 5px 0;
}

#md-notification:before {
top:10px;
}

.on-focus-mode blockquote {
border-left-color:rgba(85,85,85,.12);
}

.file-node-content:hover .file-node-icon,.file-node-content:hover .file-node-open-state {
visibility:visible;
}

.mac-seamless-mode #typora-sidebar {
background-color:var(--side-bar-bg-color);
}

.md-lang {
color:#b4654d;
}

.pin-outline #outline-content .outline-active strong,.pin-outline .outline-active {
color:#232323;
font-weight:600;
}

.outline-label {
color:#646464;
font-weight:400;
}

b,h1,h2,h3,h4,h5,h6,strong {
font-weight:600;
}

h1,table tr th {
font-weight:400;
}

.file-list-item-file-name {
font-weight:500;
}

h1 p,h2 p,h3 p,h4 p,h5 p,h6 p,ol:first-child,ul:first-child,table tr td:first-child,table tr th:first-child {
margin-top:0;
}

ol:last-child,ul:last-child,table tr td:last-child,table tr th:last-child {
margin-bottom:0;
}

@media print {

    #write{
        max-width: 100%;
        font-size: 11pt;
    }

    @page {
        size: A4;
        margin: 15mm 0 15mm 0;
    }

    h1 {
        margin-top: 0;
    }

}
